# Java binaries/compiled files
*.class
*.jar
*.war
*.ear
*.nar
*.log
target/
build/
out/

# Python virtual environments
venv/
.venv/
ENV/
env/

# Environment files
.env
.env.*

# IDE settings
.vscode/
.idea/
*.iml

# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

